/config.py
/repo/
/archive/
/logs/
/tmp/
*~
*.pyc
/unsigned/
/shmetadata/
/misc/
/templates/installedList-DB*
/metadata/de.danoeh.antennapod.debug/flattr.patch
/.fdroid.keypass.txt
/.fdroid.keystorepass.txt
